body {
    font-family: 'DotGothic16', sans-serif;
    background-color: black;
    color: white;
    text-align: center;
}

nav {
    font-family: 'Press Start 2P', cursive;
    background-color: rgb(255, 255, 255);
    color: purple;
}

body {
    margin: 0;
    font-family: 'Press Start 2P', monospace;
}

.about-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}

.about-text {
    flex: 2;
}

.about-text h1 {
    margin-top: 0;
}

.about-image {
    flex: 1;
    display: flex;
    justify-content: center;
}

.about-image img {
    max-width: 250px;
    width: 100%;
    border-radius: 12px;
}

.additional-text{
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
}


.BOTTOM{
    background-color: #cfcfcf;
    color: black;
    border-radius: 10px;
    padding: 0px;
    margin-bottom: 5px;
    font-family: 'Press Start 2P', cursive;
    text-align: center;
    border: 2px solid #9e9e9e;
}


#copyEmail {
  cursor: pointer;
  color: #0066cc;
  text-decoration: underline;
}

#copyEmail:hover {
  color: #003366;
}